#container-fluid {
	background: lightblue;
	text-align: center;
}

#header
#start
#time-remaining {
	position: fixed;
	z-index: 99;
	background: lightblue;
	width: 100%;
	text-align: center;
}




button:hover {
  background: lightsalmon;
}

h1 {
	font-weight: 700;
}

h4 {
	font-weight: 700;
}